<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../public/images/logo1.png" />
            </a>
        </div>
        <div class="navbar-header pull-right">
            <section class="navbar-message">
                <a><i class="fa fa-bell"></i></a>
            </section>
            <section class="navbar-account" [class.open]="isAcountDropDown">
                <a class="dropdown-toggle" noBubble (click)="onToggle($event)">
                    <img src="../../public/images/avatar.jpg" />
                    <span>不折腾会死乎斯基</span>
                </a>
                <ul class="dropdown-menu" noBubble>
                    <li class="usermail">user.email@legitimacy.com</li>
                    <li class="avatar">
                        <img src="../../public/images/avatar.jpg" />
                        <a class="caption">修改头像</a>
                    </li>
                    <li class="userprof">
                        <a href="/" class="pull-left">个人中心</a>
                        <a href="/" class="pull-right">设置</a>
                    </li>
                    <li class="exit">
                        <a href="/" class="pull-right"><i class="fa fa-power-off"></i>&nbsp;注销</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</nav>
