<aside>
    <ul class="side-func">
        <li class="func">
            <a tooltip="策略规则" tooltipPlacement="right" routerLink="/policy" routerLinkActive="active">
                <i class="fa fa-modx"></i>
            </a>
        </li>
        <li class="func open">
            <a tooltip="字段管理" tooltipPlacement="right" routerLink="/field" routerLinkActive="active">
                <i class="fa fa-book"></i>
            </a>
            <ul class="func-sub">
                <li><a routerLink="/field/sys" routerLinkActive="active">系统字段</a></li>
                <li><a routerLink="/field/ext" routerLinkActive="active">扩展字段</a></li>
            </ul>
        </li>
        <li class="func">
            <a tooltip="列表管理" tooltipPlacement="right" routerLink="/namelist" routerLinkActive="active">
                <i class="fa fa-list"></i>
            </a>
        </li>
        <li class="func">
            <a tooltip="调用管理" tooltipPlacement="right" routerLink="/history" routerLinkActive="active">
                <i class="fa fa-history"></i>
            </a>
        </li>
        <li class="func">
            <a tooltip="说明文档" tooltipPlacement="right" routerLink="/doc" routerLinkActive="active">
                <i class="fa fa-file-code-o"></i>
            </a>
        </li>
    </ul>
</aside>
